* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  position: relative;
}

/*SECTION MENU*/
.menu {
  background-color: #00a1d1;
  height: 75px;
  width: 100%;
  position: relative;
}

.flexnav {
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width:auto;
    height: auto;
    position: relative;
    z-index: 1;
}

.logo {
  position: relative;
  padding: 25px;
  width:15%;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  float: left;
}

nav {
  position:absolute;
  width:80%;
  margin:0 auto;
}

#cssmenu, #cssmenu ul,
#cssmenu ul li, #cssmenu ul li a,
#cssmenu #head-mobile {
  border:0;
  list-style:none;
  line-height:1;
  display:block;
  position:relative;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

#cssmenu {
  font-family:Arial, Helvetica, sans-serif;
}

#cssmenu > ul > li {
  float: right;
}

#cssmenu > ul > li > a {
  padding: 26px;
  font-size: 22px;
  letter-spacing: 0px;
  text-decoration: none;
  color:#fff;
}

#cssmenu > ul > li:hover > a,
#cssmenu ul li.active a {
  color:#fff
}

#cssmenu > ul > li:hover, #cssmenu ul li.active:hover,
#cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover {
  background:#008ab3;
}

#cssmenu > ul > li.has-sub > a {
  padding-right: 20px;
}

#cssmenu > ul > li.has-sub:hover > a:before {
  top:23px;
  height:0;
}

#cssmenu ul ul {
  position:absolute;
  left:-9999px;
}

#cssmenu ul ul li {
  height:0;
  background:#333;
  color: #fff;
  -webkit-transition:all .25s ease;
  -ms-transition:all .25s ease;
  transition:all .25s ease
}

#cssmenu li:hover > ul {
  left: auto;
  right: 0;  
}

#cssmenu li:hover > ul > li {
  height: auto;
}

#cssmenu ul ul li a {
  padding:5px 15px;
  min-width: 150px;
  font-size: 18px;
  text-decoration:none;
  text-align: right;
  color:#fff;
  letter-spacing:0px;
  line-height:36px;
}

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  background-color: #008ab3;
}


/*SECTION FOOTER*/
.footer {
  background-color: #4a4a4a;
  color: #fff;
}

.footer-text {
	width: 75%;
	margin: 0 auto;
	margin-top: 2%;
  padding: 0;
  overflow: hidden;
	display: block;
  color: #fff;
  text-align: center;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/*SECTION FEATURES*/
.features {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	margin-bottom: 2rem;
  margin-top: 1rem;
}

.flex-container {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.wrap { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.flex-item {
  height: auto;
  margin: 0 auto;
  line-height: 100px;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  text-align: left;
}

#content-img {
  width: 100%;
  height: 236px;
}

.title {
  font-family:Arial, Helvetica, sans-serif;
  font-size:32px;
  color:#4a4a4a;
  letter-spacing:0px;
  line-height:35px;
}

.content-text {
  font-family:Arial, Helvetica, sans-serif;
  font-size:22px;
  color:#747474;
  letter-spacing:0px;
  line-height:34px;
}

.content-link {
  font-family:Arial, Helvetica, sans-serif;
  font-size:22px;
  color:#00a1d1;
  letter-spacing:0px;
  line-height:34px;
  text-decoration: none;
}

#load-more {
  background-color: #b0b0b0;
  width: 33%;
  height: 60px;
  margin: 0 auto;
}

#load-more:hover {
  background-color: #333;
}

/*SLIDER (CAROUSEL)*/
.slider {
  width: 100%;
  overflow: hidden;
  height: 250px;
  position: relative;
  text-align: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size:50px;
  letter-spacing:0px;
  line-height:36px;
  text-shadow: 2px 2px 8px #000;
}

.slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  width: 300%;
  height: 100%;
  top: 0;
}

.slider li {
  padding: 0;
  margin: 0;
  width: 33.333333%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  border: none;
}

.slider li img {
  border: none;
  width: 100%;
  min-height: 100%;
  margin-bottom: 50px;
}

.slider button {
  position: absolute;
  display: block;
  box-sizing: border-box;
  border: none;
  outline: none;
  top: 0;
  bottom: 0;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  margin: 0;
  padding: 0;
  text-align:center;
  opacity: 0;
  z-index: 2;
}

.slider button.prev {
  left: 0;
}

.slider button.next {
  right: 0;
}

.slider button:hover, .slider button:active {
  opacity: 1.0;
}

.slider .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*SECTION CONTACT*/
.contact {
  background-color: #e9e9e9;
  height: 922px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contact-form {
	display: block;
}

.contact-form h2 {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	margin-top: 10%;
	color:#4a4a4a;
	letter-spacing:0px;
	text-align: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    cursor: pointer;
    height: 80px;
    font-size:22px;
    color:#4a4a4a;
    letter-spacing:0px;
    line-height:36px;
    font-family: Arial, Helvetica, sans-serif;
}

input[placeholder], textarea{
	font-weight: bold;
}

input[type=submit] {
    background-color: #00a1d1;
    color: #fff;
	  width: 100%;
    height: 80px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing:1px;
    line-height:36px;
}

input[type=submit]:hover {
    background-color: #008ab3;
}

.container {
	padding: 30px;
  margin-top: 10%;
	text-align:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color:#4a4a4a;
	letter-spacing:0px;
	line-height:36px;
}

#email {
	height: 78px;
}

#message {
	height:202px;
}


/* Mobile Styles */
@media only screen and (max-width: 640px) {
  .header {
	  height: 400px;
  }

  .menu {
    height: auto;
  }

  .footer {
	  height: 119px;
	  text-align: center;
	  order: 2;
  }
  
  .contact {
  height: 865px;
  order: 1;
}

.slider {
	height: 400px;
}

.flex-item {
  max-width: 100%;
}

#item-four,
#item-five,
#item-six {
  display: none;
}

.logo {
  position:relative;
  left: 10px;
  top: 15px;
  width:100%;
  height:75px;
  text-align: left;
  float:none;
}

#cssmenu {
  width:100%;
}

#cssmenu a {
  font-size: 35px;
}

#cssmenu ul {
  width:100%;
  display:none;
}

#cssmenu ul li {
  width:100%;
  background-color: #333;
  text-align: center;
  color: #fff;
}

#cssmenu ul li:hover {
  background:#333;
}

#cssmenu ul ul li,
#cssmenu li:hover > ul > li {
  height: auto;
}

#cssmenu ul ul li a {
  text-align: center;
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.active > a {
  color:#008ab3;
  background-color: #333;
}

#cssmenu ul ul {
  position:relative;
  left:0;
  width:100%;
  margin:0;
}

#cssmenu #head-mobile {
  display:block;
  padding:23px;
  color:black;
  font-size:12px;
  font-weight:700
}

.button {
  width:33px;
  height:25px;
  position:absolute;
  right:26px;
  top:25px;
  cursor:pointer;
}

.button:after {
  position:absolute;
  top:23px;
  right:26px;
  display:block;
  height:8px;
  width:40px;
  border-top:5px solid #fff;
  border-bottom:5px solid #fff;
  content:'';
}

.button:before {
  -webkit-transition:all .3s ease;
  -ms-transition:all .3s ease;
  transition:all .3s ease;
  position:absolute;
  top:10px;
  right:26px;
  display:block;
  height:5px;
  width:40px;
  background:#fff;
  content:'';
}

.button.menu-opened:after {
  -webkit-transition:all .3s ease;
  -ms-transition:all .3s ease;
  transition:all .3s ease;
  top:33px;
  border:0;
  height:5px;
  width:40px;
  background:#fff;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

.button.menu-opened:before {
  top:33px;
  background:#fff;
  width:40px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

#cssmenu .submenu-button {
  position:absolute;
  z-index:99;
  right:0;
  top:0;
  display:block;
  height:46px;
  width:100%;
  cursor:pointer
}

}

/* Tablet Styles */
@media only screen and (min-width: 641px) and (max-width: 768px) {
  .header {
	  height: 250px;
  }
  
  .footer {
	  height: 70px;
	  order: 2;
  }
  
  .contact {
	  order: 1;
	  height: 897px;
  }
  
  .footer-text .year {
	float: left;
}

.footer-text .copyright {
	float: right;
	list-style-type: none;
}

.flex-item {
  max-width: 44%;
}

#item-five,
#item-six {
  display: none;
}

.logo {
  position:relative;
  left: 10px;
  top: 0;
  width:100%;
  height:75px;
  text-align: left;
  float:none;
}

.flexnav{
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width:50%;
    height: auto;
    position: relative;
    z-index: 1; 
}

.flexnav:open {
  width: 50%;
}

nav {
  width:100%;
  height: auto;
}

#cssmenu {
  width:100%;
  height: 75px;
}

#cssmenu a {
  font-size: 35px;
}

#cssmenu ul {
  width:50%;
  margin-right: 0;
  height: auto;
}

#cssmenu ul li {
  width:100%;
  background-color: #333;
  text-align: center;
  color: #fff;
}

#cssmenu ul li:hover {
  background:#333;
}

#cssmenu ul ul li,
#cssmenu li:hover > ul > li {
  height: auto;
}

#cssmenu ul ul li a {
  text-align: center;
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.active > a {
  color:#008ab3;
  background-color: #333;
}

#cssmenu ul ul {
  position:relative;
  left:0;
  width:100%;
  margin:0;
}

#cssmenu #head-mobile {
  display:block;
  padding:0;
  color:black;
  font-size:12px;
  font-weight:700;
  height: 0;
}

.button {
  width:33px;
  height:25px;
  position:absolute;
  right:26px;
  top:25px;
  cursor:pointer;
}

.button:after {
  position:absolute;
  top:18px;
  right:26px;
  display:block;
  height:8px;
  width:40px;
  border-top:5px solid #fff;
  border-bottom:5px solid #fff;
  content:'';
}

.button:before {
  -webkit-transition:all .3s ease;
  -ms-transition:all .3s ease;
  transition:all .3s ease;
  position:absolute;
  top:5px;
  right:26px;
  display:block;
  height:5px;
  width:40px;
  background:#fff;
  content:'';
}

.button.menu-opened:after {
  -webkit-transition:all .3s ease;
  -ms-transition:all .3s ease;
  transition:all .3s ease;
  top:20px;
  border:0;
  height:5px;
  width:40px;
  background:#fff;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg)
}

.button.menu-opened:before {
  top:20px;
  background:#fff;
  width:40px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg)
}

#cssmenu .submenu-button {
  position:absolute;
  z-index:99;
  right:0;
  top:0;
  display:block;
  height:46px;
  width:100%;
  cursor:pointer
}

}

/* Desktop Styles */
@media only screen and (min-width: 769px) {
  .page {
	  width: 100%;
	  margin: 0 auto;
  }
  
  .header {
	  height: 250px;
  }
  
  .footer {
	  height: 70px;
	  order: 2;
  }
  
  .contact {
	  order: 1;
	  height: 922px;
  }

.footer-text .year {
	float: left;
}

.footer-text .copyright {
	float: right;
	list-style-type: none;
}

.contact-form {
	width: 50%;
	height: 922px;
	margin: 0 auto;
	text-align: center;
}

.contact-form h2 {
	text-align: center;
}

.flex-item {
  max-width: 28%;
}
}
