* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
}

.menu {
  background-color: #00a1d1;
  height: 75px;
  width: 100%;
}

.header {
  background-color: #B2D6FF;
}

.contact {
  background-color: #EAEDF0;
  height: 922px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: #4a4a4a;
  color: white;
}

.footer-text {
	width: 75%;
	margin: 0 auto;
    padding: 0;
    overflow: hidden;
	display: block;
    color: #fff;
    text-align: center;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}



.features {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.feature-1 {
  background-color: #F5CF8E;
}

.feature-2 {
  background-color: #F09A9D;
}

.feature-3 {
  background-color: #C8C6FA;
}

.menu-text {
	width: 75%;
	margin: 0 auto;
}

.menu-text ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-text li {
    float: left;
}

.menu-text li a {
    display: block;
    color: white;
    text-align: right;
    padding: 28px 16px;
    text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.menu-text li a:hover, .dropdown:hover {
    background-color: #008ab3;
}

li.right-menu {
	float: right;
}

li .right-menu .dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	height: 35px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
	text-align: right;
    display: block;
	background-color: #333;
	height:20px;
}

 .dropdown:hover .dropdown-content {
    display: block;
}

#logo-text a {
	font-size: 30px;
}

.slider {
  width: 100%;
  overflow: hidden;
  height: 250px;
  position: relative;
}

.slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  width: 300%;
  height: 100%;
  top: 0;
}

.slider li {
  padding: 0;
  margin: 0;
  width: 33.333333%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  border: none;
}

.slider li img {
  border: none;
  width: 100%;
  min-height: 100%;
  margin-bottom: 50px;
}

.slider button {
  position: absolute;
  display: block;
  box-sizing: border-box;
  border: none;
  outline: none;
  top: 0;
  bottom: 0;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  margin: 0;
  padding: 0;
  text-align:center;
  opacity: 0;
  z-index: 2;
}

.slider button.prev {
  left: 0;
}

.slider button.next {
  right: 0;
}

.slider button:hover, .slider button:active {
  opacity: 1.0;
}

.slider .content {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 3em;
  padding: 0 1em;
  font-size: 1.5em;
}

.slider .content a {
  color: inherit;
}



/* Mobile Styles */
@media only screen and (max-width: 640px) {
	.feature-2,
	.feature-3 {
	  display: none;
  }
 
  .header {
	  height: 400px;
  }
  
  .right-menu {
	  display: none;
  }
  
  .footer {
	  height: 119px;
	  text-align: center;
	  order: 2;
  }
  
  .contact {
  height: 865px;
  order: 1;
}

.slider {
	height: 400px;
}

  
}

/* Tablet Styles */
@media only screen and (min-width: 641px) and (max-width: 768px) {
  .feature-1,
  .feature-2,
   {
	  width: 50%;
  }
  
  .feature-3 {
	  display: none;
  }
  
  .header {
	  height: 250px;
  }
  
  .right-menu {
	  display: none;
  }
  
  .footer {
	  height: 70px;
	  order: 2;
  }
  
  .contact {
	  order: 1;
	  height: 897px;
  }
  
  .footer-text .year {
	float: left;
}

.footer-text .copyright {
	float: right;
	list-style-type: none;
}
  
}

/* Desktop Styles */
@media only screen and (min-width: 769px) {
  .page {
	  width: 100%;
	  margin: 0 auto;
  }
  
  .feature-1,
  .feature-2,
  .feature-3 {
	  width: 33.3%;
	  align-items: center;
  }
  
  .header {
	  height: 250px;
  }
  
  .footer {
	  height: 70px;
	  order: 2;
  }
  
  .contact {
	  order: 1;
	  height: 922px;
  }

  .right-menu {
	float: right;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	float: right;
    font-size: 22px;
	letter-spacing:0px;
}

.footer-text .year {
	float: left;
}

.footer-text .copyright {
	float: right;
	list-style-type: none;
}

}




