/* Tablet Styles */
@media only screen and (min-width: 641px) and (max-width: 768px) {
  .header {
	  height: 250px;
  }
  
  .footer {
	  height: 70px;
	  order: 2;
  }
  
  .contact {
	  order: 1;
	  height: 897px;
  }
  
  .footer-text .year {
	float: left;
}

.footer-text .copyright {
	float: right;
	list-style-type: none;
}

.flex-item {
  max-width: 44%;
}

#item-five,
#item-six {
  display: none;
}

.logo {
  position:relative;
  left: 10px;
  top: 0;
  width:100%;
  height:75px;
  text-align: left;
  float:none;
}

.flexnav{
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width:50%;
    height: 100%;
    position: relative;
    z-index: 1; 
}

.flexnav:open {
  width: 50%;
  min-height: 100%;
  
}

nav {
  width:100%;
  height: 100%;
}

#cssmenu {
  width:100%;
  height: 100%;
}

#cssmenu a {
  font-size: 35px;
}

#cssmenu ul {
  width:50%;
  height: 100%;
  margin-right: 0;
}


#cssmenu ul li {
  width:100%;
  background-color: #333;
  text-align: center;
  color: #fff;
}

#cssmenu ul li:hover {
  background:#333;
}

#cssmenu ul ul li,
#cssmenu li:hover > ul > li {
  height: auto;
}

#cssmenu ul ul li a {
  text-align: center;
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.active > a {
  color:#008ab3;
  background-color: #333;
}

#cssmenu ul ul {
  position:relative;
  left:0;
  width:100%;
  margin:0;
}

#cssmenu #head-mobile {
  display:flex;
  padding:0;
  color:black;
  font-size:12px;
  font-weight:700;
  height: 0;
}

.button {
  width:33px;
  height:25px;
  position:absolute;
  right:26px;
  top:25px;
  cursor:pointer;
}

.button:after {
  position:absolute;
  top:18px;
  right:26px;
  display:block;
  height:8px;
  width:40px;
  border-top:5px solid #fff;
  border-bottom:5px solid #fff;
  content:'';
}

.button:before {
  -webkit-transition:all .3s ease;
  -ms-transition:all .3s ease;
  transition:all .3s ease;
  position:absolute;
  top:5px;
  right:26px;
  display:block;
  height:5px;
  width:40px;
  background:#fff;
  content:'';
}

.button.menu-opened:after {
  -webkit-transition:all .3s ease;
  -ms-transition:all .3s ease;
  transition:all .3s ease;
  top:20px;
  border:0;
  height:5px;
  width:40px;
  background:#fff;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg)
}

.button.menu-opened:before {
  top:20px;
  background:#fff;
  width:40px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg)
}

#cssmenu .submenu-button {
  position:absolute;
  z-index:99;
  right:0;
  top:0;
  display:block;
  height:46px;
  width:100%;
  cursor:pointer
}

}